PartnerData/*
credentials/*
*.bak
pgpass
*/.ipynb_checkpoints/*
Descriptives/*/.ipynb_checkpoints/*
Descriptives/*/.cache/*
*/__pycache__/*
Reports/*npy*
Reports/*pkl*
Models_Results/pkls/*
Models_Results/pkls_zz/*
